*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    
}
button{
    margin-bottom: 5px;
    margin: 5px;
    font-size: 1.2em;

}
h1{
    
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 20px;

}
.s, .n{
    
    color: black;
    padding: 5px;


}
.s{
    background-color: rgb(69, 248, 69);
   
    

}
p{
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    margin: 20px 0 0px 5px;
    
}
.n{
    background-color: rgb(255, 59, 59);
    

}
.relatorio{

    background-color: rgb(167, 238, 158);
    color: black;
    margin-top: 40px;
    padding: 10px;

}
.carr{
    padding: 5px;
    border: 2px solid black;
}
.obs{
   
    padding: 20px;
    border: 2px solid black;
}
input{
    background-color: white;
    margin-left: 30px;
    margin: 0px 30px 20px 0px;
    
}
label{
    margin: 0 5px 0 px;
}
.caixadetxt{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.questionario{
    text-align: center;
}